<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Closest Bike Stations</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALLWCBHM3rd9dx3Mhyqspj5-5q_Llm4cw&libraries=geometry,places"></script>
</head>

<body>
    <div class="app-container">
        <h1>Find Closest Bike Stations</h1>
        <p>Follow these simple steps to find the closest bike stations:</p>
        <ol>
            <li>Enter your destination in the search box.</li>
            <li>Click "Search" to find the nearest bike stations.</li>
            <li>Click on a bike station marker for directions.</li>
        </ol>

        <div class="search-container">
            <input id="destination" type="text" placeholder="Enter destination...">
            <button id="search">Search</button>
        </div>

        <div id="confirmModal" class="modal">
            <div class="modal-content">
                <p id="confirmText">Do you want to open Google Maps for directions?</p>
                <button id="confirmYes">Yes</button>
                <button id="confirmNo">No</button>
            </div>
        </div>


        <div id="map" class="map-container" data-stations="<%= JSON.stringify(stations) %>"></div>
        <h2>Closest Stations:</h2>
        <ol id="closest-stations" class="stations-list"></ol>
    </div>

    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
        data-id="gratatouille" data-description="Support me on Buy me a coffee!"
        data-message="If you've found my content helpful or enjoyable, please consider buying me a whiteclaw to show your support."
        data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
    <script src="/js/main.js"></script>
</body>

</html>