<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bay Wheels Stations</title>

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALLWCBHM3rd9dx3Mhyqspj5-5q_Llm4cw&libraries=geometry,places"></script>


    <style>
        #map {
            height: 100%;
            width: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div>
        <input type="text" id="destination" placeholder="Enter your destination" />
        <button id="search">Search nearby stations</button>
    </div>
    <button id="locate">Locate me</button>
    <div id="results"></div>
    <ul id="closest-stations"></ul>
    <div id="map" data-stations="<%= JSON.stringify(stations) %>"></div>
    <script id="stations-data" type="application/json">
    <%= JSON.stringify(stations) %>
  </script>
    <script src="/js/main.js" defer></script>
</body>

</html>